.vscode
.terraform
variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.bk
terraform/files/appuser
terraform/files/appuser.pub
.terraform.tfstate.lock.info
service_account.json
ansible/.tmp/*
*.retry
packer
*.old
jdauphant.nginx
vault.key
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
pipfile*
